/* Background */
body
{
	background: repeating-linear-gradient(
		135deg,
		#333333,
		#333333 5px,
		#363636 5px,
		#363636 10px
	);

	color: #DDDDDD;
}

/* Navbar */
.navbar-brand
{
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.nav-custom
{
    display: block;
    padding: .5rem 1rem;
    color: rgba(255,255,255,.55);
}

/* Sidebar */
.sidebar
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px)
{
	.sidebar
	{
		top: 5rem;
	}
}

.sidebar-sticky
{
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link
{
	font-weight: 500;
	color: #666666;
	text-indent: 1.0rem;
}

.sidebar .nav-link.active
{
	font-weight: 800;
	color: #999999;
	background-color: #004444;
}

.sidebar-heading
{
	font-size: 1.00rem;
	text-transform: uppercase;
}

/* MISC TO SORT */
.image-cropper {
	width: 48px;
	height: 48px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}

.profile-pic {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: auto;
}

#logobox {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

#logo {
	height: 48px;
	width: auto;
}

#logo-text {
	padding-left: 1rem;
	font-size: 24px;
}

html, body
{
	height: 100%;
}