<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<title>Activity Monitor - Index</title>

	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>

	<!-- HighCharts -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/themes/dark-unica.js"></script>

	<!-- Misc JS -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="js/global.js"></script>
	<script src="js/messages.js"></script>

	<!-- Misc CSS -->
    <link href="css/global.css" rel="stylesheet">
    <link href="css/messages.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-dark navbar-expand-md bg-dark sticky-top">
		<div class="container-fluid">
			<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<div class="image-cropper">
							<img id="tst" src="https://cdn.discordapp.com/avatars/788639100231483393/33d5c2f186dbe287fa2b6e7a79959c00.png?size=64" class="profile-pic"/>
						</div>
					</li>
					<li class="navbar-brand" style="text-indent: 1.0rem; user-select: none;">
						Activity Monitor
					</li>
				</ul>
			</div>
			<div class="mx-auto order-0">
				<ul class="navbar-nav mx-auto">
<!--					<li class="nav-item active">-->
<!--						<a class="nav-link" href="/">Home</a>-->
<!--					</li>-->
<!--					<li class="nav-item">-->
<!--						<a class="nav-link" href="/test">Test</a>-->
<!--					</li>-->
				</ul>
			</div>
			<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
				<ul sec:authorize="isAnonymous()" class="navbar-nav ms-auto">
					<li class="nav-item">
						<!--						<a class="nav-link" href="#">Bingo</a>-->
						<a  class="nav-link" th:href="@{/oauth2/authorization/discord}">Log In With Discord</a>
					</li>
				</ul>
				<ul sec:authorize="isAuthenticated()" class="navbar-nav ms-auto">
					<li class="nav-item">
						<div class="image-cropper">
							<img id="logo"
								 th:src="@{'https://cdn.discordapp.com/avatars/' + ${#authentication.principal.attributes.id} + '/' + ${#authentication.principal.attributes.avatar} + '.png?size=64'}"
								 class="profile-pic">
						</div>
					</li>
					<li class="nav-item">
						<span class="nav-custom" th:text="${#authentication.name}"/>
					</li>
					<li class="nav-item">
						<a  class="nav-link" th:href="@{/signout}">Sign out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
				<div class="position-sticky pt-3">
					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Statistics</span>
					</h6>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="/">Overview</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/messages">Message</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/voice">Voice</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/activity">Activity</a>
						</li>
					</ul>

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Misc</span>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a class="nav-link" href="/settings">User Settings</a>
						</li>
					</ul>
				</div>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<div class="col-md-6">
						<div sec:authorize="hasRole('ROLE_SOLOCUPPERS')" id="messagesByChannel"></div>
					</div>
					<div class="col-md-6">
						<div sec:authorize="hasRole('ROLE_SOLOCUPPERS')" id="messagesByUser"></div>
					</div>
				</div>
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<div class="col-md-12">
						<div sec:authorize="hasRole('ROLE_SOLOCUPPERS')" id="messagesByServer"></div>
					</div>
				</div>
			</main>
		</div>
	</div>
</body>
</html>